.fullWidth {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

.button {
  padding: 6px 10px;
}

a {
  text-decoration: none;
}