.centerHorizontally {
  display: flex;
  justify-content: center;
}

.table {
  text-align: left;
  border-collapse: collapse;
}

.table tr {
  height: 1.5em;
}

.thickRows tr {
  height: 3em;
}

.table tr > th {
  font-weight: bold;
}

.table tr > td:nth-child(1) {
  min-width: 3em;
}

.firstColumnHeader tr > td:nth-child(1) {
  font-weight: bold;
  min-width: 6em;
}

.innerDividers td, .innerDividers th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.innerDividers tr:first-child td {
  border-top: 0;
}

.innerDividers tr:last-child td {
  border-bottom: 0;
}